button{
    color: white;
    background-color: coral;
    border-color: coral;
    border-radius: 10px;
    padding: 5% 25% 5% 25%;
    margin: auto;
}

input{
    border-color: coral;
    margin: auto;
    padding: 0px 50px 0px 50px;
    border-radius: 10px;

}
