button{
    color: white;
    background-color: coral;
    border-color: coral;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    margin-top: auto;
    margin-left:auto;
}

input{
    border-color: coral;
    margin: auto;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-top: auto;
    margin-left: auto;

}
