button{
    color: white;
    background-color: coral;
    border-color: coral;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    margin: auto;
    display: grid;
    font-size: medium;
    
}
label{
    text-align: center;
    display: grid;
}

input{
    border-color: coral;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    font-size: medium;
    display: grid;

}
.spacer{
    aspect-ratio:1366/768;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.layer1{
    background-image: url('./layer1.svg');
    z-index:-1;
}

.layer2{
    background-image:url('./layer2.svg');
    z-index:-1;
    background-position:center;
    width:100%;
}

logo {
    background-image: url('./logo.jpg');
}
